*{
  font-family: 'Permanent Marker';
  color: whitesmoke;
  box-sizing: border-box;
}

/* HEADER & NAV */

.jumbotron {
  display: flex;
  color: white;
  margin-bottom: 0px;
  text-align: left;
  height:100%;
  width: 100%;
	background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(40,40,40)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
	background-size: 10px;
}

header{
  position: relative;
}

header h1 {
  margin: 0px 30px 30px 30px;
  font-size: 100px;
}

header p {
  position: absolute;
  margin-top: 120px;
  margin-left: 30px;
  font-size: 30px;
}

svg {
  height: 160px;
  width: 160px;
 }

.hex {
  stroke: white;
  fill: transparent;
  stroke-width: 10px;
}

.nav {
  display: block;
  text-transform: uppercase;
  background-color:white;
  margin: 0px;
  padding-left: 30px;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav .button-dropdown {
  position: relative;
}

.nav li a {
  display: block;
  color: #333;
  background-color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.nav li a span {
  display: inline-block;
  margin-left: 5px;
  font-size: 10px;
  color: #999;
}

.nav li a:hover, .nav li a.dropdown-toggle.active {
  background-color: slategray;
  color: #fff;
}

.nav li a:hover span, .nav li a.dropdown-toggle.active span {
  color: #fff;
}

.nav li .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  text-align: left;
}

.nav li .dropdown-menu.active {
  display: block;
}

.nav li .dropdown-menu a {
  width: 150px;
}

/* BODY */
body {
  margin: 0px;
	background-color: #b8860b;
}


.container {
  display: grid;
  padding-top: 15px;
  margin: 25px;
  border-radius: 10px;
  }

.headline {
  background: center url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(40,40,40)' viewBox='0 0 100 169.5'%3E%3Cpolygon points='50,34.75 93.5,59.75 93.5,109.75 50,134.75 6.5,109.75 6.5,59.75'%3E%3C/polygon%3E%3Cpolygon points='0,-50 43.5,-25 43.5,25 0,50 -43.5,25 -43.5,-25'%3E%3C/polygon%3E%3Cpolygon points='100,-50 143.5,-25 143.5,25 100,50 56.5,25 56.5,-25'%3E%3C/polygon%3E%3Cpolygon points='0,119.5 43.5,144.5 43.5,194.5 0,219.5 -43.5,194.5 -43.5,144.5'%3E%3C/polygon%3E%3Cpolygon points='100,119.5 143.5,144.5 143.5,194.5 100,219.5 56.5,194.5 56.5,144.5'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: 10px;
  text-align: center;
  font-size: 25px;
  border-radius: 5px;
}

aside{
  float:right;
  width: 25%;
  }

aside p{
  margin: 5px;
  text-align: center;
}
.fill {
  background: url(img_tree.gif) left top no-repeat, url(img_flwr.gif) right bottom no-repeat, url(paper.gif) left top repeat;
  padding: 15px;
  background-size: 50px, 130px, auto;
}
  .dragcontainer {
    display: none;
    gap: 1px;
  }
  .box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
  }

section {

}

.inner {
}
